Checks: >
  bugprone-*,
  performance-*,
  portability-*,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-avoid-c-arrays,
  cppcoreguidelines-pro-type-member-init,
  -modernize-structured-bindings,
  -readability-qualified-auto,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -readability-identifier-naming
  -readability-const-parameter
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none