Language: Cpp
BasedOnStyle: LLVM

AlignArrayOfStructures: Left
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty


BinPackParameters: false
BinPackArguments: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterEnum: false
  AfterNamespace: false
  AfterStruct: false
  SplitEmptyFunction: false

# Vulkan is verbose.
ColumnLimit: 120

IncludeBlocks: Preserve

PackConstructorInitializers: NextLine
PointerAlignment: Left

SortIncludes:
  Enabled: false