# Build directories
cmake-build-debug/

# CLion / JetBrains IDE Settings
.idea/
build/
build-clang/
build-make/

# Visual Studio IDE Settings
.vs/*
BlockGame/.vs/*

# Compiled Shaders
*.spv

# External Resources
BlockGame/Textures/

